
.container {
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #1f2937;
  }
  
  .title {
    text-align: center;
    color: #0070f3;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  .tittleBox {
    background-color: #1f2937;
    width: 100%;
  }
  .inputContainer {
    display: flex;
    margin-bottom: 20px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px;
    margin-left: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  .mainButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .list {
    list-style: none;
    padding: 0;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    cursor: grab;
    transition: background-color 0.2s ease;
    flex:1;
    margin-top: 5px;
    border-radius: 4px;
    font-family: sans-serif;
  }
  
  .listItemDragging {
    background-color: #b2b4b5;
  }
  
  .deleteButton {
    background: #0070f3;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3px;
    padding: 8px;
    border-radius: 4px;
    font-family: sans-serif;
  }
  .downloadButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .downloadButton:hover {
    background-color: #327035;
    transition: background-color 0.5s ease;

  }
  .deleteAllButton {
    background-color: rgb(221, 4, 4);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: sans-serif;
  }
  
  .deleteAllButton:hover {
    background-color: darkred;
    transition: background-color 0.5s ease;
  }